{
  "Logging": {
    "LogLevel": {
      "Default": "",
      "Microsoft.Hosting.Lifetime": ""
    }
  },
  "SwaggerOptions": {
    "Version": "",
    "Title": "",
    "Description": "",
    "XmlCommentsFilePath": "",
    "EndpointUrl": "",
    "EnableBearerAuth": boolean,
    "ServiceName": ""
  }
}